  <ul>
    <% @pinned_surveys.each do |survey| %>
        <li class="relative px-4 py-4 bg-white border-b border-gray-200">
          <div class="flex justify-between space-x-3">
            <div class="flex-1 min-w-0">
              <a href="<%= survey_path(survey) %>" class="block hover:underline focus:outline-none">
                <span class="absolute inset-0" aria-hidden="true"></span>
                <p class="text-sm font-medium text-gray-900 "><%= survey.name %>
              </a>
            </div>
          </div>
          <div class="mt-1">
            <p class="text-sm text-gray-600 line-clamp-2">
              <%= highlight_hashtag(survey.description) %>
            </p>
          </div>
        </li>
    <% end %>
  </ul>
 
