<li>
  <a href="<%= survey_path(survey) %>" class="  " >
  <span role="img" class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-gray-500" title="<%= survey.decorate.display_name %>">
    
      </span>
    </span>
  </a>
</li>
