    <li class="relative px-4 py-2 bg-white border-b border-gray-200 w-full">
              <a href="<%= survey_path(survey) %>" class="block hover:underline focus:outline-none">
                <span class="absolute inset-0" aria-hidden="true"></span>
              <span class="flex-auto  text-sm font-medium text-gray-900"><%= survey.name %>
              </span>
              </a>
        </li>