<div class="overflow-y-auto w-full mb-16">
  <div class="pt-4">
    <label for="comment" class="block text-sm font-medium text-gray-700">
      Comments (optional)
    </label>
    <h4 class="text-sm leading-tight text-gray-400 pb-4">Please add a note if you want to add anything about this survey</h4>
    <p class="whitespace-pre-wrap   block w-full sm:text-sm  rounded-md"><%= @attempt.comment %></p>
  </div>
</div>
