<div class="hidden fixed inset-0 z-10 bg-black bg-opacity-80 overflow-y-auto flex items-center justify-center"
        data-slideover-target="background"
        data-action="click->modal#closeBackground">
  <div data-slideover-target="container" class="hidden fixed   inset-0 overflow-y-auto flex items-center justify-center" 
data-action="click->slideover#closeBackground"style="z-index: 9999;">
    <div class="max-w-lg max-h-screen w-full  bg-white transition-all transform shadow-xl rounded-lg relative ">
      <div class="m-1 bg-white rounded  ">
        <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
          <div class=" inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
          <div class=" inset-0 z-10 overflow-y-auto">
            <div class=" min-h-full items-end justify-center p-4 sm:items-center sm:p-0">
              <%= render partial: "devise/invitations/form", locals: { resource_name: :user, resource: User.new, devise_mapping: Devise.mappings[:user] } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
