<!-- Odd row -->
<tr class="bg-white border-b border-gray-200">
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 w-full">
    <%= job.name %>
  </td>
  <% job.roles.table.keys.each do |role|  %>
    <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-500">
      <a href="<%= job.roles[role] %>" class="w-20 inline-flex justify-center px-2 py-1 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <%= role.to_s.titleize %>
      </a>
    </td>
  <% end %>
</tr>
