<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  const colors = require('tailwindcss/colors')
  
  module.exports = {
    // ...
    theme: {
      extend: {
        colors: {
          rose: colors.rose,
        },
      },
    },
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <div class="">
    <div class="max-w-full pl-2 xl:grid xl:grid-cols-12 lg:max-h-full">
      <div class=" lg:block lg:col-span-3 xl:col-span-2 h-[calc(100vh-6.0rem)] top-16 max-content  overflow-y-scroll overscroll-contain border-r ">
       <%= render partial: "sections/dashboard/sidebar" %>
      </div>
      <main class="lg:col-span-3 xl:col-span-7  overflow-y-auto border-r h-[calc(100vh-6.0rem)] top-16 max-content  overscroll-contain border-r">
        <div class="sm:px-0">
          <div class="sm:hidden">
            <label for="question-tabs" class="sr-only">Select a tab</label>
            <select id="question-tabs" class="block w-full rounded-md border-gray-300 text-base font-medium text-gray-900 shadow-sm focus:border-rose-500 focus:ring-rose-500">
              <option selected>Recent</option>

              <option>Most Liked</option>

              <option>Most Answers</option>
            </select>
          </div>
          <div class="hidden sm:block">
            <nav class="relative z-0 rounded-lg shadow flex divide-x divide-gray-200" aria-label="Tabs">
              <!-- Current: "text-gray-900", Default: "text-gray-500 hover:text-gray-700" -->
              <a href="#" aria-current="page" class="text-gray-900 rounded-l-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-6 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
                <span>Recent</span>
                <span aria-hidden="true" class="bg-rose-500 absolute inset-x-0 bottom-0 h-0.5"></span>
              </a>

              <a href="#" class="text-gray-500 hover:text-gray-700 group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-6 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
                <span>Most Liked</span>
                <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
              </a>

              <a href="#" class="text-gray-500 hover:text-gray-700 rounded-r-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-6 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
                <span>Most Answers</span>
                <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
              </a>
            </nav>
          </div>
        </div>
        <div class="mt-4  ">
          <h1 class="sr-only">Recent questions</h1>
         <%= render partial: "sections/dashboard/feed"%>
        </div>
      </main>
      <aside class=" lg:block xl:col-span-3 lg:col-span-3 h-[calc(100vh-6.0rem)]  top-16 overflow-y-scroll overscroll-contain border-r">
        <div class=" top-4  ">
         <%= render partial: "sections/dashboard/news"%>
        </div>
      </aside>
    </div>
  </div>
</div>
