<div class="relative flex items-start w-full pt-2"   data-controller="attempt">
  <div class="ml-3 text-sm w-full" > 
    <label for="comments" class="font-medium text-gray-700 overflow-y-auto"><%= question.text %></label>
    <p id="comments-description" class="text-gray-500 overflow-y-auto"><%= question.description %></p>
  </div>
  <div class="flex justify-self-end " data-attempt-target="attempt" id="<%= dom_id(question) %>">
      <%= render partial: "options", locals: { question: question, attempt: attempt, survey: survey }, formats: [:turbo_stream] %>
  </div>
</div>

