<%= turbo_stream.update target do %>
  <option value="">Select Folder</option>
  <% space_folders.each do |space_folder| %>

  <% if space_folder.id.to_s == @selected_folder_id.to_s %>

  <% else %>
      <option value="<%= space_folder.id %>"><%= space_folder.title %></option>
      <% end %>
      <% end %>
<% end %>