<!DOCTYPE html>
<html>
  <head>
    <title>PDFs - Ruby on Rails</title>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
